<launch>

    <!-- Load parameters  -->
    <arg name="driver_port" default="$(optenv NANOMODEM_PORT /dev/ttyUSB0)" />
    <arg name="driver_baud" default="$(optenv NANOMODEM_BAUD 9600)" />

    <!-- Modem parameters -->
    <arg name="listener_namespace" default="listener"/>

    <!-- Load labust nanomodem driver -->
    <node pkg="labust_nanomodem" type="nanomodem_node" name="nanomodem" output="screen" ns="$(arg listener_namespace)">
        <rosparam command="load" file="$(find labust_nanomodem)/config/config.yaml" />
        <param name="port_name" value="$(arg driver_port)"/>
        <param name="baud" value="$(arg driver_baud)"/>
        <param name="working_range" value="1000"/>
        <param name="sound_speed" value="1500"/>
    </node>

    <!--Launch smarc_comms -->
    <node pkg="smarc_nm3_coms" type="dccl_listener" name="dccl_listener" output="screen" ns="$(arg listener_namespace)">
    </node>

</launch>